.social {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s;
  z-index: 2;
  opacity: 0;

  &__container {
    display: flex;
    background: $yellow;
  }

  &__box {
    position: relative;
    padding: 8px 8px 4px 8px;
    border-right: 1px solid $red;
    cursor: pointer;

    &:last-of-type {
      border-right: none;
    }

    svg {
      width: 17px;
      fill: $red;
    }

    &:hover {
      background: $red;

      svg {
        fill: $yellow;
      }
    }
  }
}